.hero-sec-about{
    height:100vh;
    background-image:url(https://images.pexels.com/photos/949129/pexels-photo-949129.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.founder-container img{
    width:15rem;
    height:15rem;
    border-radius:1rem;
    float:left;
    margin-right:.5rem;
}

.footer-container{
    clear:both;
}

.hero-sec-container{
    background-color:black;
    color:white;
    padding:2.5rem 0;
}

.hero-sec-container-child{
    width:98%;
    margin:0 auto;
    line-height:1.5;
}

.hero-sec-container-child2{
    overflow:auto;
    box-sizing:border-box;
    margin-bottom:3rem;
}

.hero-sec-container-child3{
    margin-bottom:3rem;
}

.team-container{
    display:grid;
    grid-template-columns:100%;
}

.team-card-img-container{
    height:20rem;
    width:100%;
    border-radius:1rem;
}

.team-card{
    background-color:white;
    box-shadow:2px 3px 4px rgb(97, 94, 94);
    border-radius:1rem;
    position:relative;
    animation:displayTeams linear forwards;
    animation-timeline:view();
    animation-range-start:cover;
    animation-range-end:contain;
}

.team-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    border-radius:1rem;
}

.team-card-quote{
    background-color:rgba(0,0,0,.9);
    position:absolute;
    inset:0;
    border-radius:1rem;
    color:white;
    display:none;
}

.team-card:hover .team-card-quote{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

.team-card-des{
    text-align:center;
    padding: 0;
}

.team-card-des p{
    font-weight:bolder;
}

.slides-container{
    position:relative;
}

.slides{
    height:20rem;
    position:relative;
    border-radius:1rem;
    display:none;
}

.slides img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:1rem;
}

.slides-des{
    font-size:2rem;
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,0,0,.5);
    text-align:center;
    border-radius:1rem;
    color:red;
    font-weight:bolder;
}

.sp{
    position:absolute;
    top:50%;
    background-color:rgba(0,0,0,.9);
    padding:.8rem;
    color:white;
    font-size:1.5rem;
    cursor:pointer;
}

.sp1{
    left:0;
    border-top-left-radius:.5rem;
    border-bottom-left-radius:.5rem;
}

.sp2{
    right:0;
    border-top-right-radius:.5rem;
    border-bottom-right-radius:.5rem;
}

.dotts{
    text-align:center;
}

.dots{
    display:inline-block;
    height:35px;
    width:35px;
    background-color:lightgray;
    border-radius:1rem;
    cursor:pointer;
}

.opened-slide{
    background-color:black;
}

.dots:hover{
    background-color:black;
}

@media screen and (min-width:800px){
    .team-container{
        grid-template-columns:24% 24% 24% 24%;
        justify-content:space-between;
    }
    .slides{
        height:34rem;
    }
}

@keyframes displayTeams{
    0%{transform:scale(.5,.5)}
    80%,100%{transform:scale(1,1)}
}