#mail-us-first-sec{
    height:100vh;
    width:98%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-top:2rem;
}

input[type="text"],input[type="email"]{
    width:100%;
    box-sizing:border-box;
    padding:.7rem .2rem;
    border-radius:.5rem;
    border:1px solid black;
    outline:none;
    font-size:1rem;
}

input[type='submit']{
    background-color:black;
    color:white;
    padding:.7rem 2rem;
    border-radius:1rem;
    border:none;
    cursor:pointer;
    transition:.2s;
}

input[type='submit']:hover{
    box-shadow:2px 5px 3px rgb(73, 73, 73);
}

form{
    text-align:center;
}

form p{
    margin:0;
}

#fname-warning,#lname-warning,#email-warning{
    color:red;
    font-weight:bolder;
    display:none;
}

textarea{
    width:100%;
    box-sizing:border-box;
    border-radius:.5rem;
    border:1px solid black;
    outline:none;
    resize:none;
    padding:.5 .5rem;
    font-size:1.2rem;
}

label{
    letter-spacing:1px;
    word-spacing:2px;
}

@media screen and (min-width:700px){

    input[type='text'],input[type='email'],textarea{
        width:70%;
    }
    
}

@media screen and (min-width:800px){
    
    input[type="text"],input[type='email'],textarea{
        width:60%;
    }

}

@media screen and (min-width:1000px){
    input[type="text"],input[type="email"],textarea{
        width:50%;
    }
}